/* tasks.css */

/* Estilos para el cuerpo del formulario */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    height: 100vh; /* 100% del viewport height */
    margin: 0; /* Eliminar márgenes predeterminados */
    background-image: linear-gradient(to top, #e6b980 0%, #eacda3 50%, #eacda3 50%, #eacda3 100%);


}

/* Estilos para el encabezado */
h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para la creación de nuevas tareas */
.create {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

/* Contenedor de tarjetas con CSS Grid */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Columnas de tamaño mínimo de 300px */
    gap: 20px; /* Espacio entre las tarjetas */
}

/* Estilos para las tarjetas */
.card {
    box-sizing: border-box; /* Incluir el padding y el border en el tamaño total */
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    padding: 1rem;
    word-wrap: break-word;
    text-align: center;
}

.card-title p {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
}

.card-title a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del texto del elemento padre */  
}

.card-text {
    margin-top: 0.5rem;
    color: #555;
}

/* Estilos para el formulario */
form {
    border-radius: 5px;
    padding: 20px;
}
form .edit {
    margin-left: 0%;
    width: 50%;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}

/* Estilos para las etiquetas de los campos */
label {
    font-weight: bold;
}

/* Estilos para los campos de entrada */
input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

/* Estilos para el botón */
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para la última tarjeta */
.last-card {
    grid-column: 1 / -1; /* Ocupa todas las columnas disponibles */
    justify-self: start; /* Alinea la tarjeta a la izquierda */
}


.mt-5 {
    margin-top: 3rem !important;
}

/* center-container.css */

/* Estilos para el contenedor principal */
.container {
    width: 100%; /* Ancho máximo */
    max-width: 600px; /* Ancho máximo recomendado para el contenido */
    margin: 0 auto; /* Margen automático a la izquierda y derecha para centrar el contenedor */
    padding: 20px; /* Espacio interno */
    box-sizing: border-box; /* Incluir el padding y el border en el tamaño total */
    border-radius: 5px; /* Borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    background-color: white;
}

/* Estilos adicionales para el contenido dentro del contenedor, si es necesario */
a{
    text-decoration: none;
    color: inherit;
    ;
}

textarea #description {
    rows: 4; /* Número de filas a mostrar */
}



